.RecipeDisplay {
    background-color: #959595;
    margin: -1em;
    margin-left: -2em;
    padding: 0 2em 0 2em;
}
.Recipe {
    background-color: #dfdfdf;
    margin: -1em -2em 0 0;
    padding: 1em 2em 0 2em;
}
.RecipeDisplay, .Recipe {
    padding-bottom: 5em;
}
.Overview {
    height: 20em;
    background-image: url(../assets/images/fridge.jpg);
    background-size: cover;
    margin: 0 -2em 0 -2em;
    color: #fff;
}
.ov {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 1em;
}
.Source {
    text-align: left;
    background-color: #656565;
    margin: 0 -2em 1em -2em;
    padding: 0.5em 0.5em 0.5em 1em;
}
.Source a {
    color: #efefef;
    font-family: "Satisfy";
    transition: color 0.5s;
}
.Source a:hover {
    color: #959595;
}
.Ingredients {
    background-color: #87bc4a;
    text-align: left;
    padding: 0.5em 2em 2em 2em;
}
.Ingredients li {
    list-style: none !important;
    font-size: 24px;
    background-color: rgba(255,255,255, 0.5);
    margin: 1em -0.5em 1em -2em;
    padding: 0.5em;
    border-radius: 20px;
    transition: background-color, 0.5s;
}
.Ingredients li:hover {
    background-color: rgba(255,255,255,0.8);
}